<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./static/style.css">
    <link rel="stylesheet" href="./static/style_for_signup.css">

    <!-- Bootstrap használata -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <!-- Betűtípus beállítása -->
    <!-- https://fonts.google.com/specimen/Ubuntu#standard-styles -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

    <!-- Jinja templating -->
    <!-- https://jinja.palletsprojects.com/en/3.0.x/templates/ -->
    <title>{% block title %} Home {% endblock%}</title>
</head>
<body>

      <!-- https://getbootstrap.com/docs/5.0/components/navbar/ -->
      <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">My Project</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- https://getbootstrap.com/docs/5.0/utilities/flex/ -->
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link active" id="home" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="login" href="/login">Bejelentkezés</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="signUp" href="/sign-up">Regisztráció</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="logout" href="/logout" >Kijelentkezés</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!-- https://flask.palletsprojects.com/en/2.0.x/patterns/flashing/ -->
      <!--  get_flashed_messages() -> Pulls all flashed messages from the session and returns them. -->
      <!-- https://getbootstrap.com/docs/5.1/components/alerts/ -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages %}
          {%for category,message in messages %}
            {% if category == 'error'%}
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{message}}
                  <!-- https://getbootstrap.com/docs/5.1/components/close-button/ -->
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
            {%else%}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              </div>
            {%endif%}
          {%endfor%}
        {%endif%}
      {%endwith%}
      <div class="container">
        {%block content%}
        {%endblock%}
      </div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>