{% extends "base.html"%}{% block title %}Jutalom{% endblock %} 
{%block content%}

<div class="home">
<div class="container">
    <div class="container">
        <h1>Jutalmak</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table  table-hover">
                    <thead>
                        <td>Jutalom</td>
                        <td>Teljesítendő feladatok száma</td>
                        <td>Teljesített feladatok száma</td>
                        <td>Nehézség</td>
                        <!-- <td>Státusz</td> -->
                    </thead>
                    <tbody>
                        {% for jutalom in jutalmak %}
                        {% if jutalom.ossz != jutalom.teljesitett_fel%}
                        <tr>
                            <td> {{jutalom.jutalom_name}}</td>
                            <td> {{jutalom.ossz}}</td>
                            <td> {{jutalom.teljesitett_fel}}</td>
                            <td> {{ jutalom.difficulty}}</td>
                        </tr>
                        {%else%}
                        <tr>
                            <td><del> {{jutalom.jutalom_name}}</del></td>
                            <td><del> {{jutalom.ossz}}</del></td>
                            <td><del> {{jutalom.teljesitett_fel}}</del></td>
                            <td><del> {{ jutalom.difficulty}}</del></td>
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="signup-form">
                    <form action="" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="jutalom" name="jutalom_name" placeholder="Jutalom" style="width:300px" required>
                </div>
                <div class="form-group">
                    <div class="input-group" style="width:300px">
                    <input type="text" class="form-control" id="ossz" name="ossz" placeholder="Teljesítendő feladatok száma" required>
                    <span class="input-group-text">db</span>
                </div>
                </div>
                <div class="form-group">
                    <select class="form-select" id="difficulty" style="width:300px" name="difficulty">
                        <option selected disabled>Nehézség</option>
                        <option value="Könnyű">Könnyű</option>
                        <option value="Közepes">Közepes</option>
                        <option value="Nehéz">Nehéz</option>
                      </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg">Hozzáadás</button>
                </div>
            </form>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
{%endblock%}