<!-- https://jinja.palletsprojects.com/en/3.0.x/templates/#list-of-control-structures -->
<!-- Child template -->
{% extends "base.html"%}{% block title %}Új feladat{% endblock %} 
{%block content%}
<!-- {{text}} -->
<div class="signup-form">
    <form method="post">
        <h2 align="center"> Új feladat </h2>
        <hr>
    <!-- https://getbootstrap.com/docs/5.0/forms/layout/ -->
        <div class="form-group">
            <input type="text" class="form-control" id="projectName" name="projectName" 
            {%for project in projects%}
                {%if project.project_id == active %}
                    value="{{project.project_name}}"
                {%endif%}
            {%endfor%}
             placeholder="Projekt neve" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Feladat neve" required>
        </div>
        <div class="form-group">
            <select class="form-select" id="status" name="status" >
                <option selected disabled>Státusz</option>
                <option value="1">Nyílt</option>
                <option value="0">Zárt</option>
              </select>
        </div>
        <div class="form-group">
            <input type="date" class="form-control" id="taskTime" name="taskTime" placeholder="Dátum" required>
        </div>
        <div class="form-group">
                <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                <textarea class="form-control" id="description" name="description" rows="3" placeholder="Feladat leírása"></textarea>
        </div>
        <!-- https://getbootstrap.com/docs/5.0/components/buttons/ -->
        <div>
            <button type="submit" class="btn btn-primary btn-lg">Hozzáadás</button>
        </div>
    </form>
</div>
{%endblock%}
